@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "indexPage.cshtml";
}

 <!-- About Us Page -->
    </section>
     <!-- Breadcrumb -->
    <div class="bg-light jumbotron">
      <div
        class="d-flex justify-content-center align-items-center w-100"
        style="flex-direction: column"
      >
        <h3 style="font-size: 40px; font-weight: bold">
          About Us
        </h3>
        <p>
          Home > <span style="color: #d9c3a9">About</span>
        </p>
      </div>
    </div>

    <!-- Second Section -->

    <section class="about-us-section container">
        <div class="image-container">
            <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/first_girl.png" style="width: 350px; height: 490px;" alt="Tina Fox - CEO & Founder" />
            <p class="person-title " style="font-style:italic">Tina Fox - CEO & Founder at Onatrix</p>
        </div>
        <div class="content-container">
            <p style="font-family: poppins; font-weight: 300; font-style: italic; font-size: 20px; line-height: 30px; margin:0px;">
                "We have over 25 years of experience providing expert financial advice
                to both businesses and individuals."
            </p>

            <div class="highlighted-text">
                <p style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.</p>
            </div>

            <p style="font-size: 14px;">Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.</p>
            <p style="font-size: 14px;">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.</p>
            <p style="font-size: 14px;">Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.</p>
            <p style="font-size: 14px;">Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.</p>
            <p style="font-size: 14px;">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.</p>
            <p style="font-size: 14px;">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.</p>

        </div>
    </section>

    <!-- Third Section -->

    <section class="testimonials">
        <div class="test-container container">
            <div class="text">
                <p style="color: #D9C3A9; font-size: 14px; font-weight: 700; line-height: 21px;">GREAT REVIEWS FOR OUR
                    SERVICES</p>
                <h1 style="font-weight: 700;">Trusted by some Biggest Names</h1>
                <span style="font-style: italic; color: #999999;">Seamlessly visualize quality intellectual capital
                    without superior collaboration and idea-sharing. Holistically pontificate installed base
                    portals.</span>
                <p style="margin: 0px; padding: 5px 0px;">★★★★★</p>
                <p style="margin: 0px; padding: 5px 0px;">Kevin Gardner</p>
                <h5>Swebank</h5>
            </div>
            <div class="image">
                <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/client_picture.png" style="width: 794px; height: 511px;" alt="Client">
            </div>
        </div>
    </section>

    <!-- Forth Section -->

    <section class="team">
        <div class="container-team">
            <p style="color: #D9C3A9">Our expert</p>
            <h2>A team of professionals with years of experience</h2>
            <div class="team-members1">
                <div class="team-member1">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/1.png" alt="Team Member">
                    <h3>Brandon Newton</h3>
                    <p>Financial Advisor at Onatrix</p>
                </div>
                <div class="team-member1">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/2.png" alt="Team Member">
                    <h3>AJ Carter</h3>
                    <p>Financial Advisor at Onatrix</p>
                </div>
                <div class="team-member1">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/3.png" alt="Team Member">
                    <h3>Aaron Lambert</h3>
                    <p>Business Specialist at Onatrix</p>
                </div>
            </div>
            <div class="team-members2">
                <div class="team-member2">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/4.png" alt="Team Member">
                    <h3>Tina Fox</h3>
                    <p>CEO & Founder at Onatrix</p>
                </div>
                <div class="team-member2">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/5.png" alt="Team Member">
                    <h3>Brandon Kerr</h3>
                    <p>CFO & Co-Founderat Onatrix</p>
                </div>
                <div class="team-member2">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/6.png" alt="Team Member">
                    <h3>Miranda Dayton</h3>
                    <p>Head of HR at Onatrix</p>
                </div>
                <div class="team-member2">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/7.png" alt="Team Member">
                    <h3>Kevin Gardner</h3>
                    <p>Banking Advisor at Swedbank</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="contact-container">
            <div class="contact-content">
                <div class="image">
                    <div style="background-image: url('https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/contact_bg.svg'); height: 635px;">
                        <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/about_us_person.png" style="width: 485px; height: 635px;" alt="Contact Person">
                    </div>
                </div>
                
                <div class="text">
                    <h1>Let us know about your next project</h1>
                    <div class="address-container">
                        <div class="address">
                            <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/location.png">
                            <h4>Office Location</h4>
                        </div>
                        <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                    </div>

                    <div class="address-container">
                        <div class="address">
                            <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/phone.png">
                            <h4>Phone number</h4>
                        </div>
                        <p>+46 8 123 456 75</p>
                    </div>
                    <div class="address-container">
                        <div class="address">
                            <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/email.png">
                            <h4>E-mail address</h4>
                        </div>
                        <p>sales@onatrix.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>