@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "indexPage.cshtml";
}
<link rel="stylesheet" href="css/contact.css" />
<div class="contact">

<div class="bg-light jumbotron">
      <div
        class="d-flex justify-content-center align-items-center w-100"
        style="flex-direction: column"
      >
        <h3 style="font-size: 40px; font-weight: bold">
          Contact Us
        </h3>
        <p>
          Home > <span style="color: #d9c3a9">Contact</span>
        </p>
      </div>
    </div>
      <section class="contact-info">
        <div class="contact-imgs">
            <div class="dot-img">
                <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Dot.png" alt="">
            </div>
            <div class="bg">
                <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Bg.png" alt="">
            </div>
            <div class="man-img">
                <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Img-5-e1695109900349 1 (1).png" alt="">
            </div>
        </div>
        <div class="contact-details">
          <h5 class="contact-header">Let us know about your next project</h5>
          <div class="m-y-2">
            <p class="contact-p"><span class="icon-container"><i class='bx bx-map bx-sm'"></i></span>Office location</p>
            <p><span class="empty-span"></span>Klarabergsviadukten 90, 111 52 Stockholm</p>
          </div>
          <div class="m-y-2">
            <p class="contact-p"><span class="icon-container"><i class='bx bx-phone bx-sm'"></i></span>Phone number</p>
            <p><span class="empty-span"></span>+46 8 123 456 75</p>
          </div>
          <div class="m-y-2">
            <p class="contact-p"><span class="icon-container"><i class='bx bx-envelope bx-sm'"></i></span>E-mail address</p>
            <p><span class="empty-span"></span>sales@onatrix.com</p>
          </div>
        </div>
          
          
      </section>

      <section class="map">
        <div class="map-img">
           <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/map_1.png" alt="" srcset="">
        </div>
        <div class="contact-from">
            <p class="request">Request a call back</p>
            <div class="contact-form-title">
            <h2>Let us know about your next project</h2>
            </div>
            <div class="form-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus</p>
            </div>
          

            <form class="form-content">
                <div class="row">
                    <input type="text" class="input-field" placeholder="Name" required>
                    <input type="text" class="input-field" placeholder="Phone" required>
                    
                </div>
        
                <div class="row">
                    <input type="text" class="input-field" placeholder="Email Address" required>
                    
                    <select class="financial-select" required>
                        <option value="">Financial consulting</option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                    </select>
                </div>    
                <button class="btn-submit" type="submit">Submit</button>
            </form>

        </div>

      </section>
      <section class="partner">

        <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/01.png" alt="">
        <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/02.png" alt="">
        <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/03.png" alt="">
        <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/04.png" alt="">
        <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/05.png" alt="">
        <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/06.png" alt="">

      </section>
    </div>