@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "indexPage.cshtml";
}
<link rel="stylesheet" href="css/HomePage.css" />
<section class="hero">
        <div class="hero-content">
            <div class="hero-content-width-set">
                <h1>We bring <br /> success to you</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim.</p>
                <a href="#contact" class="btn">Contact us</a>
            </div>
        </div>
    </section>

    <section>
        <div class="experience">
            <div class="about-us" style="padding-right:26px; text-align:start;display:block">
                <p class="about-us-p">ABOUT US</p>
                <h2>We have 40 years experience</h2>
                <p class="about-us-description">"We have over 25 years of experience providing expert financial <br />advice to both businesses and individuals."</p>
                <p class="p-1">Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>

                <div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/OnlineSignatures.net-302 1.png" alt="">
                    <p class="p-1">Tina Fox - CEO & Founder</p>
                </div>
            </div>

            <div class="form-container">
                <h2>Request a call back</h2>
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint
                    occaecat</p>
                <form>
                    <input style="font-style:italic;" type="text" placeholder="Name" required>
                    <input style="font-style:italic;" type="email" placeholder="Email address" required>
                    <input style="font-style:italic;" type="tel" placeholder="Phone" required>
                    <select required>
                        <option value="" disabled selected>Financial consulting</option>
                        <option value="financial">Financial consulting</option>
                        <option value="legal">Legal consulting</option>
                        <option value="business">Business consulting</option>
                    </select>
                    <button class="submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>


    <section class="third-container">
        <div class="third-container-width-set">
            <div class="header">
                <h1 style="color:#D9C3A9;font-size:14px;font-weight:bold;">OUR SERVICES</h1>
                <h2 style="font-size:40px;font-weight: bold;">We Provide The Solutions<br>To Grow Your Business Faster
                </h2>
            </div>
            <div class="services">
                <div class="service">
                    <div class="service-content">
                        <h3>Risk Management</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/RiskManagement.png"
                        alt="Risk Management">
                    <div class="service-content">
                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Bonds & Commodities</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Bonds&Commodities.png"
                        alt="Bonds & Commodities">
                    <div class="service-content">
                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Assurance & Audits</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Assurance&Audits.png"
                        alt="Assurance & Audits">
                    <div class="service-content">

                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Tax and Trusts</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/TaxandTrusts.png"
                        alt="Tax and Trusts">
                    <div class="service-content">
                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Financial Advisor</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/FinancialAdvisor.png"
                        alt="Financial Advisor">
                    <div class="service-content">

                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Statistic Advisors</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/StatisticAdvisors.png"
                        alt="Statistic Advisors">
                    <div class="service-content">

                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="forth-container">
        <div class="forth-container-width-set">
            <div style="position: relative; margin-bottom: 30px;">
                <!-- <div style="border:1px solid black;">
                    <img style="width:100%; border:2px solid black; padding:9% 158% 0px 10%; height:300px;"
                        src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Frame 1.png"
                        alt="Tax and Trusts">
                </div> -->
                <div class="header">
                    <h1 style="font-size:40px; font-weight: bold;">We are trusted by more than</h1>
                    <h2 style="color:#D9C3A9; font-size:40px; font-weight: bold;">4.000+ clients</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam
                        <br />
                        accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.
                    </p>
                    <a href="#contact" class="btn">Read our story</a>
                </div>
            </div>

        </div>

    </section>



    <section>
        <div class="forth-container-people-picture">
            <img style="width: 75%;"
                src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/forthContainerPicture.png"
                alt="Tax and Trusts">
        </div>
    </section>

    <div style="margin-bottom: 30px; height: 800px;">
        <section class="fifth-container">
            <div class="Fifth-Container-DotMap-Picture-div">
                <img class="Fifth-Container-DotMap-Picture"
                    src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/FifthContainerDotMapPicture.png">

                <div class="Fifth-Container-content" style="position:absolute">
                    <div style="margin-right: 2%;">
                        <h1>689</h1>
                        <p style="font-size:18px; font-weight:bold;">More than 100 customers has been <br> served</p>
                    </div>

                    <div style="margin-right: 2%;">
                        <h1>370</h1>

                        <p style="font-size:18px; font-weight:bold;">More than 370 projects has been <br>completed</p>
                    </div>

                    <div style="margin-right: 2%;">
                        <h1>125</h1>

                        <p style="font-size:18px; font-weight:bold;">More than 125 branches has been<br>established in
                            Europe and America</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="sixth-container">

            <div class="sixth-container-people-picture">
                <img style="max-width: 57%;"
                    src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/sixthContainerPicture.png"
                    alt="Tax and Trusts">
            </div>
        </section>
    </div>


    <section style="margin-top:250px;">
        <div class="recent-projects">
            <h1 style="font-size: 14px; font-weight:bold; margin-left: 178px; color: #D9C3A9; ">OUR PROJECTS</h1>
            <h2 style="font-size:40px; font-weight:bold;">Recent projects</h2>
            <div class="project-grid">
                <div class="project-item">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/seventhContainerPictureOne.png"
                        alt="Project 1">
                    <div class="overlay">

                        <div class="overlay-discription">
                            <div>
                                <h3>Annual Report for Juva Inc</h3>
                                <p>Financial Services</p>
                            </div>
                            <i class='fa fa-angle-right'></i>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/seventhContainerPicureTwo.png"
                        alt="Project 2">
                    <div class="overlay">
                        <div class="overlay-discription">
                            <div>
                                <h3 style="color: #D9C3A9;">Business Insights for SP Group Inc.</h3>
                                <p>Financial Services</p>
                            </div>
                            <div>
                                <i class='fa fa-angle-right'></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/seventhContainerPictureThree.png"
                        alt="Project 3">
                    <div class="overlay">
                        <div class="overlay-discription">
                            <div>
                                <h3>Financial Advisors to Irra Corp Inc.</h3>
                                <p>Financial Services</p>
                            </div>
                            <i class='fa fa-angle-right'></i>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/seventhContainerPictureFour.png"
                        alt="Project 4">
                    <div class="overlay">

                        <div class="overlay-discription">
                            <div>
                                <h3>Budget Planning for Buccura Inc</h3>
                                <p>Financial Services</p>
                            </div>
                            <i class='fa fa-angle-right'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section style="height:100px;">
        <div style="display: flex; width: 70%; margin: auto; justify-content: space-between; padding-top: 19px; ">

            <img style="height:40px;" src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/01.png"
                alt="Project 4">


            <img style="height:40px;" src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/02.png"
                alt="Project 4">


            <img style="height:40px;" src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/03.png"
                alt="Project 4">


            <img style="height:40px;" src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/04.png"
                alt="Project 4">

            <img style="height:40px;" src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/05.png"
                alt="Project 4">


            <img style="height:40px;" src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/06.png"
                alt="Project 4">

        </div>
    </section>


