@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "indexPage.cshtml";
}


    <div class="bg-light jumbotron">
      <div
        class="d-flex justify-content-center align-items-center w-100"
        style="flex-direction: column"
      >
        <h3 style="font-size: 40px; font-weight: bold">Our Projects</h3>
        <p>
          Home >
          <span style="color: #d9c3a9">Projects</span>
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 vertical-line">
          <ul class="list-group">
            <li
              class="d-flex align-items-center pt-3 pb-3"
              style="gap: 10px; border-bottom: 1px solid #ececec"
            >
              <img
                src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/pj1.png"
                alt="Team Meeting"
                class="img-fluid"
              />
              <div
                class="d-flex justify-content-between"
                style="flex-direction: column; gap: 50px"
              >
                <div>
                  <p
                    style="
                      font-weight: 800;
                      font-size: 18px;
                      margin-bottom: 0px;
                    "
                  >
                    Annual Report for Juva Inc.
                  </p>
                  <div class="d-flex" style="gap: 10px">
                    <div>
                      <img
                        src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Icon_calendar.png"
                        class="img-fluid"
                      />
                    </div>

                    <p class="text-muted p-0 mb-0">June 15, 2024</p>
                  </div>
                  <p class="mt-1" style="font-size: 14px; margin-bottom: 0px">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium. Sed ut
                    perspiciatis unde omnis iste natus error.
                  </p>
                </div>
                <div>
                  <a style="color: #535656; font-weight: 700" href="/project">Read more</a>
                </div>
              </div>
            </li>
            <li
              class="d-flex align-items-center pt-3 pb-3"
              style="gap: 10px; border-bottom: 1px solid #ececec"
            >
              <img
                src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/pj2.png"
                alt="Team Meeting"
                class="img-fluid"
              />
              <div
                class="d-flex justify-content-between"
                style="flex-direction: column; gap: 50px"
              >
                <div>
                  <p
                    style="
                      font-weight: 800;
                      font-size: 18px;
                      margin-bottom: 0px;
                    "
                  >
                    Business Insights for SP Group...
                  </p>
                  <div class="d-flex" style="gap: 10px">
                    <div>
                      <img
                        src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Icon_calendar.png"
                        class="img-fluid"
                      />
                    </div>

                    <p class="text-muted p-0 mb-0">May 17, 2024</p>
                  </div>
                  <p class="mt-1" style="font-size: 14px; margin-bottom: 0px">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium. Sed ut
                    perspiciatis unde omnis iste natus error.
                  </p>
                </div>
                <div>
                  <a style="color: #535656; font-weight: 700">Read more</a>
                </div>
              </div>
            </li>
            <li
              class="d-flex align-items-center pt-3 pb-3"
              style="gap: 10px; border-bottom: 1px solid #ececec"
            >
              <img
                src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/pj3.png"
                alt="Team Meeting"
                class="img-fluid"
              />
              <div
                class="d-flex justify-content-between"
                style="flex-direction: column; gap: 50px"
              >
                <div>
                  <p
                    style="
                      font-weight: 800;
                      font-size: 18px;
                      margin-bottom: 0px;
                    "
                  >
                    Financial Advisors for Irra Grou...
                  </p>
                  <div class="d-flex" style="gap: 10px">
                    <div>
                      <img
                        src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Icon_calendar.png"
                        class="img-fluid"
                      />
                    </div>

                    <p class="text-muted p-0 mb-0">February 6, 2024</p>
                  </div>
                  <p class="mt-1" style="font-size: 14px; margin-bottom: 0px">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium. Sed ut
                    perspiciatis unde omnis iste natus error.
                  </p>
                </div>
                <div>
                  <a style="color: #535656; font-weight: 700">Read more</a>
                </div>
              </div>
            </li>
            <li
              class="d-flex align-items-center pt-3 pb-3"
              style="gap: 10px; border-bottom: 1px solid #ececec"
            >
              <img
                src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/pj4.png"
                alt="Team Meeting"
                class="img-fluid"
              />
              <div
                class="d-flex justify-content-between"
                style="flex-direction: column; gap: 50px"
              >
                <div>
                  <p
                    style="
                      font-weight: 800;
                      font-size: 18px;
                      margin-bottom: 0px;
                    "
                  >
                    Budget Planning for Buccura In...
                  </p>
                  <div class="d-flex" style="gap: 10px">
                    <div>
                      <img
                        src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Icon_calendar.png"
                        class="img-fluid"
                      />
                    </div>

                    <p class="text-muted p-0 mb-0">January 3, 2024</p>
                  </div>
                  <p class="mt-1" style="font-size: 14px; margin-bottom: 0px">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium. Sed ut
                    perspiciatis unde omnis iste natus error.
                  </p>
                </div>
                <div>
                  <a style="color: #535656; font-weight: 700">Read more</a>
                </div>
              </div>
            </li>
          </ul>
          <div class="pagination-custom">
            <ul class="pagination">
              <li class="disabled">
                <a href="#">Prev</a>
              </li>
              <li><a href="#" class="active">1</a></li>
              <li><a href="#">2</a></li>
              <li>
                <a href="#">Next</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <h4>Tags</h4>
            <div class="d-flex flex-wrap tags-custom">
              <span class="badge badge-light m-1">Report</span>
              <span class="badge badge-light m-1">Insights</span>
              <span class="badge badge-light m-1">Business</span>
              <span class="badge badge-light m-1">App</span>
              <span class="badge badge-light m-1">Project</span>
              <span class="badge badge-light m-1">Finance</span>
              <span class="badge badge-light m-1">Pricing</span>
            </div>
          </div>
          <div class="custom-card">
            <div class="card">
              <div class="card-body">
                <h5
                  class="card-title"
                  style="font-size: 22px; font-weight: 600"
                >
                  How can we help you?
                </h5>
                <p class="card-text">
                  online support 24/7, we are here to help you
                </p>
                <div class="form-group input-with-icon">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email address"
                  />
                  <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Icon_mail.png" class="icon" />
                  <!-- Font Awesome envelope icon -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

