@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "indexPage.cshtml";
}


    <!-- Breadcrumb -->
    <div class="bg-light jumbotron">
      <div
        class="d-flex justify-content-center align-items-center w-100"
        style="flex-direction: column"
      >
        <h3 style="font-size: 40px; font-weight: bold">
          Annual Report for Juva Inc.
        </h3>
        <p>
          Home > Projects >
          <span style="color: #d9c3a9">Annual Report for Juva Inc.</span>
        </p>
      </div>
    </div>

    <!-- Main Content -->
    <div class="container my-5">
      <div class="row">
        <!-- Main Content -->
        <div class="col-md-8 vertical-line">
          <div class="d-flex" style="gap: 10px">
            <div>
              <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Icon_calendar.png" class="img-fluid" />
            </div>

            <p class="text-muted p-0 mb-0">June 15, 2024</p>
          </div>

          <p class="mt-2" style="font-weight: bold; margin-bottom: 0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at
            enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit
            amet libero quis orci convallis mollis.
          </p>

          <img
            src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/pj4_1.png"
            alt="Team Meeting"
            class="img-fluid my-4"
          />

          <div>
            <h4 style="font-weight: bold; font-size: 18px">
              Suggestions for you
            </h4>
            <ul class="list-group list-group-flush" style="margin-left: 50px">
              <li class="">
                <p>
                  Financial planning is the process of helping clients meet
                  their financial needs today and reach their dreams and goals
                  tomorrow.
                </p>
              </li>
              <li class="">
                <p>
                  Pellentesque fringilla augue quis dolor dapibus semper eget
                  non nibh. Ut lobortis, nulla sed euismod posuere, quam magna
                  scelerisque lectus, auctor iaculis quam ligula nec augue
                </p>
              </li>
              <li class="">
                <p>
                  In hac habitasse platea dictumst. Aliquam felis ante,
                  tincidunt sed magna auctor, aliquet dapibus turpis.
                </p>
              </li>
            </ul>
          </div>
          <div class="d-flex" style="gap: 10px">
            <div>
              <img
                src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Img-1-4_1.png"
                alt="Discussion"
                class="img-fluid"
                style="width: 100rem"
              />
            </div>
            <div>
              <h4 style="font-weight: bold; font-size: 18px">
                Nunc facilisis ante quis gravida mollis
              </h4>
              <p>
                Ut porttitor tempus augue, quis luctus erat dapibus ac.
                Curabitur eu placerat purus.
              </p>
              <p>
                Vestibulum tempor velit diam, ac ultrices turpis posuere vitae.
                Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Suspendisse semper nec libero vitae
                elementum
              </p>
            </div>
          </div>

          <div class="mt-4">
            <h4 style="font-weight: bold; font-size: 18px">
              Nullam at blandit felis, ut efficitur lorem. Nulla pharetra turpis
              eget dictum condimentum
            </h4>
          </div>

          <p>
            Cras posuere tristique urna sodales laoreet. Phasellus nibh nunc,
            porttitor vitae elementum eget, condimentum lobortis metus. Aenean
            imperdiet suscipit dui
          </p>
          <p>
            Integer quis massa sit amet diam feugiat molestie. Morbi egestas
            arcu eu sapien accumsan, et tempor velit viverra. Ut varius euismod
            malesuada. Vestibulum consectetur justo turpis. Vivamus varius purus
            consequat urna maximus molestie. Sed facilisis maximus quam id
            pretium. Donec ac orci vel quam semper tristique. Maecenas
            facilisis, urna sed congue pellentesque, justo augue semper nulla
          </p>
          <p>
            Phasellus vehicula, nulla id condimentum luctus, enim tortor semper
            dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit
            amet quam sit amet, hendrerit maximus metus. Proin et est nec sem
            ultricies congue ac pretium sapien. Vestibulum varius vestibulum
            egestas. Nam tempor in enim quis congue.
          </p>
          <img
            src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Img-1-4_1.png"
            alt="Discussion"
            class="img-fluid"
            style="width: 100rem"
          />

          <div class="mt-4">
            <h4 style="font-weight: bold; font-size: 18px">
              Nunc facilisis ante quis gravida mollis
            </h4>
          </div>

          <p>
            Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu
            placerat purus. Vestibulum tempor velit diam, ac ultrices turpis
            posuere vitae. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Suspendisse semper nec
            libero vitae elementum
          </p>
          <p>
            Phasellus vehicula, nulla id condimentum luctus, enim tortor semper
            dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit
            amet quam sit amet, hendrerit maximus metus. Proin et est nec sem
            ultricies congue ac pretium sapien. Vestibulum varius vestibulum
            egestas. Nam tempor in enim quis congue.
          </p>

          <!-- Tags -->
          <div class="d-flex" style="gap: 10px">
            <p style="font-weight: bold; font-size: 14px">Tags:</p>
            <div class="CustomBatch">
              <span class="badge badge-secondary">Business</span>
            </div>
            <div class="CustomBatch">
              <span class="badge badge-secondary">Consulting</span>
            </div>
            <div class="CustomBatch">
              <span class="badge badge-secondary">Onatrix</span>
            </div>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
          <div class="mb-4">
            <h4 style="font-weight: bold; font-size: 18px">
              Suggestions for you
            </h4>
            <ul class="list-group">
              <li
                class="d-flex align-items-center pt-3 pb-3"
                style="gap: 10px; border-bottom: 1px solid #ececec"
              >
                <img
                  src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Img.png"
                  alt="Team Meeting"
                  class="img-fluid"
                />
                <div class="d-flex" style="flex-direction: column">
                  <p
                    style="
                      font-weight: 700;
                      font-size: 14px;
                      margin-bottom: 0px;
                    "
                  >
                    Annual Report for Juva Inc.
                  </p>
                  <span class="text-muted">June 15, 2024</span>
                </div>
              </li>
              <li
                class="d-flex align-items-center pt-3 pb-3"
                style="gap: 10px; border-bottom: 1px solid #ececec"
              >
                <img
                  src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Img.png"
                  alt="Team Meeting"
                  class="img-fluid"
                />
                <div class="d-flex" style="flex-direction: column">
                  <p
                    style="
                      font-weight: 700;
                      font-size: 14px;
                      margin-bottom: 0px;
                    "
                  >
                    Business Insights for SP Group Inc.
                  </p>
                  <span class="text-muted">May 11, 2024</span>
                </div>
              </li>
              <li
                class="d-flex align-items-center pt-3 pb-3"
                style="gap: 10px; border-bottom: 1px solid #ececec"
              >
                <img
                  src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Img.png"
                  alt="Team Meeting"
                  class="img-fluid"
                />
                <div class="d-flex" style="flex-direction: column">
                  <p
                    style="
                      font-weight: 700;
                      font-size: 14px;
                      margin-bottom: 0px;
                    "
                  >
                    Financial Advisors to Briccorp Inc.
                  </p>
                  <span class="text-muted">February 8, 2024</span>
                </div>
              </li>
              <li
                class="d-flex align-items-center pt-3 pb-3"
                style="gap: 10px; border-bottom: 1px solid #ececec"
              >
                <img
                  src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Img.png"
                  alt="Team Meeting"
                  class="img-fluid"
                />
                <div class="d-flex" style="flex-direction: column">
                  <p
                    style="
                      font-weight: 700;
                      font-size: 14px;
                      margin-bottom: 0px;
                    "
                  >
                    Budget Planning for Bluecurve Inc.
                  </p>
                  <span class="text-muted">January 3, 2024</span>
                </div>
              </li>
            </ul>
          </div>

          <div class="mb-4">
            <h4>Tags</h4>
            <div class="d-flex flex-wrap tags-custom">
              <span class="badge badge-light m-1">Report</span>
              <span class="badge badge-light m-1">Insights</span>
              <span class="badge badge-light m-1">Business</span>
              <span class="badge badge-light m-1">App</span>
              <span class="badge badge-light m-1">Project</span>
              <span class="badge badge-light m-1">Finance</span>
              <span class="badge badge-light m-1">Pricing</span>
            </div>
          </div>
          <div class="custom-card">
            <div class="card">
              <div class="card-body">
                <h5
                  class="card-title"
                  style="font-size: 22px; font-weight: 600"
                >
                  How can we help you?
                </h5>
                <p class="card-text">
                  online support 24/7, we are here to help you
                </p>
                <div class="form-group input-with-icon">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email address"
                  />
                  <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Icon_mail.png" class="icon" />
                  <!-- Font Awesome envelope icon -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white py-5">
      <div class="container text-center">
        <p class="h4">Let us know about your next project</p>
        <ul class="list-unstyled">
          <li>Office location: Kronobergsgatan 10, 51 92 Stockholm</li>
          <li>Phone number: +46 0 23 456 79</li>
          <li>Email: sales@onatrix.com</li>
        </ul>
      </div>
    </footer>
