@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "indexPage.cshtml";
}
	<div class="bg-stripe to-center" style="height:245px;">
        <h1 class="text-center bannerText">Risk Management</h1>
        <h1 class="text-center text-xs flex items-center justify-center gap-1"><span>Home</span>
			<i class='bx bxs-chevron-right'></i> <span> Services</span>
            <i class='bx bxs-chevron-right'></i> <span class="text-yellow"> Risk Management</span>
        </h1>
    </div>

    <div  class="container mainContainer flex gap-3 items-start">


        <div style="width:30%;">
            <h1 style="font-size:35px;font-weight:700;" class="tittle">About us</h1>
            <img style="width:100%;" src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/aside.png" alt="">
            <p style="margin-bottom:60px;">Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non </p>

                <div class="bg-aside" style="background-color:#4F5955;padding:30px;border-radius:10px;">
                    <h1 style="color:white;" class="tittle-aside">How can we help you?</h1>
                    <p style="color:white;">online support 24/7, we are here to help you</p>
                    <div style="position:relative;">
                        <input style="width:100%;padding:20px 20px;box-sizing:border-box;font-size:17px;font-style:italic;border-radius:5px;border-color:transparent;outline: none;" type="text" placeholder="E-mail address">
                        <i style="position:absolute;right:23px;top:18px;font-size:30px;" class='bx bx-envelope'></i>
                    </div>
                </div>
        </div>


        <div
            style="width:70%; border-left: 1px solid black;padding-left:55px;padding-top:40px;border-left:1px solid rgba(219, 219, 219, 0.705);">
            <img class="cover" src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/mainimg1.png" alt="">
            <div>
                <h1>key point</h1>
                <ul>
                    <li>Financial planning is the process of helping clients meet their financial needs today and reach
                        their dreams and goals tomorrow.</li>
                    <li>
                        Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed
                        euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue
                    </li>
                    <li>
                        In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet
                        dapibus turpis.
                    </li>
                </ul>
            </div>
            <div>
                <h1>A financial plan is based on a personal relationship</h1>
                <p>No matter where you find yourself today or see yourself in the future, a financial planning
                    relationship with an Ameriprise financial advisor can help you find your financial balance and bring
                    your dreams and goals more within reach.</p>
                <p>Our Confident Retirement approach to financial planning begins with a one-on-one conversation. At its
                    core is a personal relationship with an advisor dedicated to helping you reach the future you
                    imagine, on your own terms, in a way that is convenient for you.</p>
                <p>The financial planning process all starts with learning about you. Your advisor will take the time
                    to:</p>

                <ul>
                    <li>Listen closely to you and learn what you value</li>
                    <li>
                        Analyze your current financial situation
                    </li>
                    <li>
                        Understand your feelings about managing money and investments
                    </li>
                </ul>
                <p>Then your advisor will offer personalized advice and guidance to help you reach your financial goals.
                    Ameriprise advisors have access to a broad array of solutions to help you plan for your confident
                    future.</p>
                <p>And once you have a plan in place, you may feel more confident knowing that your advisor will stay
                    with you over time, helping you track your progress toward your goals and making adjustments along
                    the way when your life or dreams change.</p>

                <img class="cover" src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/mainimg2.png" alt="">
                <h1>We’ll help you achieve financial confidence</h1>
                <p>Working with a financial advisor may help you come away feeling more confident knowing that you have
                    the support you need to help:</p>
                <ul>
                    <li>Cover your essentials. Essentials are the monthly expenses that keep your life running.</li>
                    <li>Ensure your lifestyle. Lifestyle is about the things that you want to do, and how you want to
                        live, today and in the future.</li>
                    <li>Prepare for the unexpected. The unexpected are events that could derail your financial plans.
                    </li>
                    <li>Leave a legacy. Legacy is about the impact you’ll make on the people, charities and causes that
                        are important to you.</li>
                </ul>
            </div>
        </div>


    </div>
    <div class="container">
        <h1 class="tittle">Have a question ?</h1>
        <form style="margin-bottom: 20px;">
            <div style="display:flex;gap: 20px;justify-content:space-between;">
                <input class="bottomStyle" type="text" placeholder="Name">
                <input class="bottomStyle" type="text" placeholder="Email">
            </div>
            <textarea placeholder="Question"></textarea>
            <button>Submit</button>
        </form>
    </div>