@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "indexPage.cshtml";
}
<!-- Breadcrumb -->
    <div class="bg-light jumbotron mb-0">
      <div
        class="d-flex justify-content-center align-items-center w-100"
        style="flex-direction: column"
      >
        <h3 style="font-size: 40px; font-weight: bold">
         Our Services
        </h3>
        <p>
          Home > 
          <span style="color: #d9c3a9">Services</span>
        </p>
      </div>
    </div>
    <section class="third-container mt-0" style="background:#ffffff">
        <div class="third-container-width-set">
            <div class="header" >
                <h2 style="font-weight:bold">We Provide The Solutions<br>To Grow Your Business Faster</h2>
            </div>
            <div class="services">
                <div class="service">
                    <div class="service-content">
                        <a href="/service"><h3>Risk Management</h3></a>
                        
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/RiskManagement.png"
                        alt="Risk Management">
                    <div class="service-content">
                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Bonds & Commodities</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Bonds&Commodities.png"
                        alt="Bonds & Commodities">
                    <div class="service-content">
                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Assurance & Audits</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/Assurance&Audits.png"
                        alt="Assurance & Audits">
                    <div class="service-content">

                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Tax and Trusts</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/TaxandTrusts.png"
                        alt="Tax and Trusts">
                    <div class="service-content">
                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Financial Advisor</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/FinancialAdvisor.png"
                        alt="Financial Advisor">
                    <div class="service-content">

                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
                <div class="service">
                    <div class="service-content">
                        <h3>Statistic Advisors</h3>
                    </div>
                    <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/StatisticAdvisors.png"
                        alt="Statistic Advisors">
                    <div class="service-content">

                        <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-custom">
            <ul class="pagination">
              <li class="disabled">
                <a href="#">Prev</a>
              </li>
              <li><a href="#" class="active">1</a></li>
              <li><a href="#">2</a></li>
              <li>
                <a href="#">Next</a>
              </li>
            </ul>
          </div>
    </section>
    <section class="contact">
        <div class="contact-container">
            <div class="contact-content">
                <div class="image">
                    <div style="background-image: url('https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/contact_bg.svg'); height: 635px;">
                        <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/about_us_person.png" style="width: 485px; height: 635px;" alt="Contact Person">
                    </div>
                </div>
                
                <div class="text">
                    <h1>Let us know about your next project</h1>
                    <div class="address-container">
                        <div class="address">
                            <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/location.png">
                            <h4>Office Location</h4>
                        </div>
                        <p>Klarabergsviadukten 90, 111 52 Stockholm</p>
                    </div>

                    <div class="address-container">
                        <div class="address">
                            <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/phone.png">
                            <h4>Phone number</h4>
                        </div>
                        <p>+46 8 123 456 75</p>
                    </div>
                    <div class="address-container">
                        <div class="address">
                            <img src="https://gotastelivestorage.blob.core.windows.net/taskimagesrafael/email.png">
                            <h4>E-mail address</h4>
                        </div>
                        <p>sales@onatrix.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>